{% extends 'base.html' %}

<title>{{ bill.bill_id }}</title>

{% block title %}{{ bill.bill_id }}{% endblock %}

{% block content %}

    <p>{{ bill.title }}</p>
    <p>{{ bill.session }}</p>
    <p>{{ bill.subjects }}</p>

    {% if user.is_authenticated %}
        <p><strong>What is your position on this bill?</strong></p>
        <form action="{% url 'bills:vote' bill.state bill.session bill.bill_id %}" method="POST">
        {% csrf_token %}
        <select name="position">
            <option value=""></option>
            <option value="support">Support</option>
            <option value="oppose">Oppose</option>
            <option value="indifferent">Indifferent</option>
        </select>
        <br>
        <br>
        <button type="submit">Vote</button>
        </form>

        <p>{{ position }}</p>
    {% endif %}

    <p>{{ support }} constituent{{ support|pluralize }} support this bill.</p>
    <strong>House Actions on {{ bill.bill_id }}</strong>
    <p>
    {% for a in house_actions %}
        <li>{{ a.action }}</li>
    {% empty %}
        <li>No House actions on {{ bill.bill_id }}</li>
    {% endfor %}
    </p>
    <strong>Senate Actions on {{ bill.bill_id }}</strong>
    <p>
        {% for a in senate_actions %}
            <li>{{ a.action }}</li>
        {% empty %}
            <li>No Senate actions on {{ bill.bill_id }}</li>
        {% endfor %}
    </p>
{% endblock %}